

h1{
	font-family: $trebuchetMS;
}

p{
	font-family: $trebuchetMS;
}

#mozilla > img{
	margin-top:120px;
}

#mozilla_jharkhand > img{
	height:270px;	
}

#mozilla_IN > img{
	margin-top:20px;
}

#telegram_logo{
	height: 40px;
}

